<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160415354-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-160415354-1');
    </script>
    <meta charset="UTF-8">

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#F6E7DC">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner"></header>

    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
    <footer class="site-footer">
      <span class="site-footer-credits">Essa página foi gerada utilizando o <a href="https://pages.github.com">GitHub Pages</a>.</span>
    </footer>
  </body>
</html>
